@if (authService.register$ | async; as mutation) {
<div class="flex flex-col max-w-xl mx-auto mt-6 space-y-4">
  <h2 class="text-[2.5rem] leading-[2.75rem] font-medium place-self-center">Sign in</h2>
  <p class="!mt-2 text-primary place-self-center">Have an account?</p>

  <form (submit)="submit($event)" class="flex flex-col w-full gap-4">
    <input
      name="username"
      type="text"
      class="input input-bordered input-lg"
      placeholder="Username"
      [disabled]="mutation.isPending"
    />
    <input
      name="email"
      type="text"
      class="input input-bordered input-lg"
      placeholder="Email"
      [disabled]="mutation.isPending"
    />
    <input
      name="password"
      type="password"
      class="input input-bordered input-lg"
      placeholder="Password"
      [disabled]="mutation.isPending"
    />

    <button class="btn btn-primary btn-lg place-self-end" [disabled]="mutation.isPending">
      @if (mutation.isPending) {
      <div class="loading loading-spinner"></div>
      }
      <span>Sign up</span>
    </button>
  </form>
</div>
}
